.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinnerSmall {
  width: 40px;
  height: 40px;
}

.spinnerLarge {
  width: 120px;
  height: 120px;
}

.spinnerElement {
  position: absolute;
  border: 4px solid #4285f4;
  opacity: 1;
  border-radius: 50%;
  animation: spinnerLoading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinnerElement:nth-child(1) {
  animation-delay: -0.45s;
  width: 64px;
  height: 64px;
  top: 8px;
  left: 8px;
  border-color: #4285f4 transparent transparent transparent;
}

.spinnerElement:nth-child(2) {
  animation-delay: -0.3s;
  width: 48px;
  height: 48px;
  top: 16px;
  left: 16px;
  border-color: transparent #ea4335 transparent transparent;
}

.spinnerElement:nth-child(3) {
  animation-delay: -0.15s;
  width: 32px;
  height: 32px;
  top: 24px;
  left: 24px;
  border-color: transparent transparent #fbbc05 transparent;
}

.spinnerElement:nth-child(4) {
  width: 16px;
  height: 16px;
  top: 32px;
  left: 32px;
  border-color: transparent transparent transparent #34a853;
}

@keyframes spinnerLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingLabel {
  margin-top: 1rem;
  color: #666;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .spinner {
    width: 60px;
    height: 60px;
  }

  .spinnerSmall {
    width: 30px;
    height: 30px;
  }

  .spinnerLarge {
    width: 90px;
    height: 90px;
  }
}